body, html {
            margin: 0;
            padding: 0;
            overflow: hidden; /* Prevent scrollbars */
            height: 100%;
        }
.video-background {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover; /* Makes the video cover the entire background */
            z-index: -1;
        }
        /* Button styling */
.unmute-button {
            position: absolute;
            top: 20px;
            left: 20px;
            padding: 10px 20px;
            background-color: rgba(0, 0, 0, 0.5);
            color: white;
            border: none;
            cursor: pointer;
            border-radius: 5px;
        }
.unmute-button:hover {
            background-color: rgba(0, 0, 0, 0.8);
        }
      
#invitation {
  font-family: 'Andika', sans-serif;
  background: linear-gradient(to bottom, #8e44ad, #2c3e50);
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
}

h1 {
  font-family: 'Amatic SC', sans-serif;
  color: #eaaf41;
  font-size: 50px;
  margin-bottom: 10px;
}

p {
  color:#BDB0D0;
  font-size: 25px;
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
  margin-top: 20px;
}

#details {
  text-align: center;
  margin-top: 20px;
}

#details div {
  width: 100%;
}

#details p {
  margin: 5px 0;
}

#footer {
  font-size: 10px;
  margin-top: 20px;
  color:#b25da6;
}

