
h1 {
  font-family: $font2;
}

h2, h3, h4, h5, h6 {
  font-family: $font2;
}

.summary-content {
  color: #504554;

}
 
//home
.home {
  .home-profile {
    padding: 0 0 auto auto;
    text-align: center;

    .home-avatar {

      img {
        display: inline-block;
        width: 11rem;
        height: auto;
        margin: 0 0 10px ;
        @include border-radius(100%);
        @include box-shadow(0 0 0 .3618em rgba(0, 0, 0, .05));
        @include transition(all 0.4s ease);

        &:hover {
          position: relative;
          @include transform(translateY(-.75rem));
        }
      }
    }

    .home-title {
      font-family: $font2;
      font-size: 2rem;
      font-weight: bold;
      margin-left: 100px;
      padding: 0 0.5rem;
    }

    .home-subtitle {
      font-size: 1rem;
      font-weight: normal;
      margin-left: 100px;
      padding: .5rem;
    }

    .links {
      padding: auto;
      margin-left: 100px;
      font-size: 1.5rem;

      a * {
        vertical-align: text-bottom;
        margin-right: 6px;
      }

      img {
        height: 1.5rem;
        padding: auto;
      }
    }

    .home-disclaimer {
      font-size: 1rem;
      line-height: 1.5rem;
      font-weight: normal;
      margin-left: 100px;
      padding: auto;
      color: $global-font-secondary-color;

      [theme=dark] & {
        color: $global-font-secondary-color-dark;
      }
    }
  }
}

.home[data-home=posts] {
  .home-profile {
    @include transform(translateY(5vh));
    padding-top: 0;
  }

  .home-avatar img {
    width: 11rem;
  }

  .summary {
    padding-top: 1rem;
    padding-bottom: .8rem;
    color: $global-font-color;

    [theme=dark] & {
      color: $global-font-color-dark;
    }

    .featured-image-preview {
      width: 100%;
      padding: 30% 0 0;
      position: relative;
      margin: 0.6rem auto;
      @include transition(transform 0.4s ease);

      img {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
      }

      img.lazyloaded {
        @include object-fit(cover);
      }

      &:hover {
        @include transform(scale(1.01));
      }
    }

    .single-title {
      font-size: 1.25rem;
      line-height: 140%;
      margin: 0 0;
    }

    .single {
      @include box(vertical);
      -webkit-line-clamp: 3;
      margin-top: .3rem;
      width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
      @include overflow-wrap(break-word);
      color: $global-font-secondary-color;

      [theme=dark] & {
        color: $global-font-secondary-color-dark;
      }

      h2,
      h3,
      h4,
      h5,
      h6,
      p {
        font-size: 1rem;
        line-height: 1.5;
        display: inline;

        &::after {
          content: "\A";
          white-space: pre;
        }
      }

      h2 {
        font-size: 1.125rem;
      }

      @include link(false, true);

      b, strong {
        color: $global-font-secondary-color;

        [theme=dark] & {
          color: $global-font-secondary-color-dark;
        }
      }
    }

    .post-footer {
      margin-top: 2rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: .875rem;


      @include link(false, false);

      .post-tags {
        padding: 0;

        @include link(true, true);
      }
    }
  }
}

header {
  font-family: $font2;
  font-size: 29px;
}

.simple-icons {
  display: inline-block;
  vertical-align: middle;

  svg {
    width: 1em;
    height: 1em;
    fill: currentColor;
    display: inline-block;
  }
}

@media only screen and (max-width: 680px) {

  .home {
    .home-profile {
      .home-avatar {
        display: block;
      }
    }
  }
}
