//Google cute fonts uwu
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

$font1: Josefin Sans; 
$font2: 'Amatic SC', cursive;
$global-font-family: $font1;
$global-font-size: 20px;
$global-font-color: #33373b;
//
$global-background-color: #ece7fe ;
$global-background-color-dark: #282c35 ;

$global-secondary-color: #b29efb;

$global-link-color: #897bc1;
$global-font-secondary-color: #259AD7;

$header-title-font-family: $font2;
//$header-background-color: radial-gradient(circle, rgba(236,231,254,1) 19%, rgba(237,228,247,1) 100%, rgba(249,225,237,1) 100%);

$color-border-color: #00bb9c;

// Color of the border
$global-border-color: #259AD7 ;
$global-border-color-dark: #a9a9b3 ;

$single-link-color: #bf3880 ;

