{{- $profile := .Site.Params.home.profile -}}
{{- with $profile.h1 }}
<h1 class="display-hidden">{{ . }}</h1>
{{- end -}}
<aside class="home-profile">
    {{- $avatar := $profile.avatarURL -}}
    {{- with $profile.gravatarEmail -}}
        {{- $avatar = md5 . | printf "https://www.gravatar.com/avatar/%v?s=240&d=mp" -}}
    {{- end -}}
    {{- if $avatar -}}
     <div class="home-avatar">
                <a href="/about/"  title="About">
		  <img id="katavatar" src="/img/katdraw.png" alt="Me" >
                </a>
        </div>
    {{- end -}}

    <div class="home-meta">

        {{- with $profile.title -}}
            <div class="home-title">
                {{- . | safeHTML -}}
            </div>
        {{- end -}}

        {{- with $profile.subtitle -}}
            <div class="home-subtitle">
                {{- . | safeHTML -}}
            </div>
        {{- end -}}

        {{- with $profile.disclaimer -}}
        <div class="home-disclaimer">
            {{- . | safeHTML -}}
        </div>
        {{- end -}}

        {{- if $profile.social -}}
            <div class="links">
                {{- $socialMap := resources.Get "data/social.yml" | transform.Unmarshal -}}
                {{- $socialArr := slice -}}
                {{- range $key, $value := .Site.Params.social -}}
                    {{- $social := $key | lower | index $socialMap | default dict -}}
                    {{- if $value -}}
                        {{- if reflect.IsMap $value -}}
                            {{- with $value.weight -}}
                                {{- $social = dict "Weight" . | merge $social -}}
                            {{- end -}}
                            {{- with $value.prefix -}}
                                {{- $social = dict "Prefix" . | merge $social -}}
                            {{- end -}}
                            {{- with $value.template -}}
                                {{- $social = dict "Template" . | merge $social -}}
                            {{- end -}}
                            {{- with $value.id -}}
                                {{- $social = dict "Id" . | merge $social -}}
                            {{- end -}}
                            {{- with $value.url -}}
                                {{- $social = dict "Url" . | merge $social -}}
                            {{- end -}}
                            {{- with $value.title -}}
                                {{- $social = dict "Title" . | merge $social -}}
                            {{- end -}}
                            {{- with $value.newtab -}}
                                {{- $social = dict "Newtab" . | merge $social -}}
                            {{- end -}}
                            {{- with $value.icon -}}
                                {{- $social = dict "Icon" . | merge $social -}}
                            {{- end -}}
                        {{- else if ne $value true -}}
                            {{- $social = dict "Id" $value | merge $social -}}
                        {{- end -}}
                        {{- if $social.Icon.Simpleicons -}}
                            {{- $prefix := ($.Scratch.Get "cdn" | default dict).simpleIconsPrefix -}}
                            {{- $social = dict "Prefix" $prefix | dict "Icon" | merge $social -}}
                        {{- end -}}
                        {{- $socialArr = $socialArr | append $social -}}
                    {{- end -}}
                {{- end -}}
                {{- range sort $socialArr "Weight" -}}
                    {{- partial "plugin/social.html" . -}}
                {{- end -}}
      <!--CustomSocials-->
	      <a href="https://lichess.org/@/echtekatzenminze" target="_blank">
		<img style="height: 20px; transform: translateX(-14px);"src="/icons/lichess.svg" alt="lichess" title="Lichess"></a>
            </div>
        {{- end -}}
    </div>
</aside>
